article {
  background-color: #9c9da9;
  border-radius: .2em;
  margin: 1em 3em;
  padding: 1em;
}

.article-title-wrapper {
  padding: .5em;
  color: #fff;
}

.article-title {
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
}

.article-content {
  padding: 1em 1em;
}

.link {
  background-color: #fff;
  text-decoration: none;
  border-radius: .3em;
  padding: .3em;
}

.link:hover {
  background-color: #ccc;
}

/* Responsive */
@media screen and (min-width: 576px) {
  
  .article-title-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  
}
