.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: .5em;
  background-color: #ccc;
  padding: 3em;
}

.form-input {
  width: 40%;
  font-size: 1.5em;
  border-radius: 5px;
  border: 2px solid   #66717e;
  padding: .2em;
}

input[type="submit"] {
  padding: .5em;
  font-size: 1em;
  font-weight: bold;
  color: #fff;
  background-color:  #66717e;
  border-radius: 5px;
  margin: .3em;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #000;
}
